@tailwind base;
@tailwind components;
@tailwind utilities;

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #21242b;
  height: 10%;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::selection {
  color: #f4f4f4;
  background-color: #21242b;
}

/* BASE STYLES */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

/* COMMON STYLES */
.wrapper {
  @apply container mx-auto px-5;
}

.section-padding {
  @apply py-10 md:py-20;
}

/* LINK STYLES */
.link-item,
.link-item-dark {
  @apply relative;
}

.link-item::after,
.link-item-dark::after {
  @apply absolute bottom-0 left-1/2 h-[1px] w-0 -translate-x-1/2 bg-light duration-300 content-[""];
}

.link-item-dark::after {
  @apply bg-dark;
}

.link-item:hover::after,
.link-item-dark:hover::after {
  @apply w-full;
}
